.RightSide {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navIcons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}
.s-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(98.63deg, #195cda 0%, #b31ee0 100%);
  border-radius: 5px;
  padding: 4px;
  color: white;
}
.navIcons > img {
  width: 1.5rem;
}

.navIcons > a > img {
  width: 1.5rem;
}

.r-button {
  height: 2rem;
  width: 80%;
  align-self: center;
}
